.header {
	padding-top: 30px;
	margin-bottom: 80px;
}

.logo {
    position: relative;
    padding: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 700;
}

.nav>li>a {
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
}

.navbar-right {
    margin-top: 14px;
}

.navbar__item {
	margin-right: 32px;

	&:last-child {
		margin-right: 0;
	}

	a {
		transition: text-decoration .3s;

		&:hover {
			text-decoration: line-through !important;
		}
	}

}

/**
***************************************************************
* =Main
***************************************************************
**/

.main {
	margin-bottom: 35px;
}

.job-title {
	font-size: 80px;
    margin-top: 0;
	margin-bottom: 95px;

	span {
		display: block;
	}
}

/*------------------------------------*\
    Recent
\*------------------------------------*/

.recent {
	h2 {
		margin-bottom: 25px;
		text-align: center;
	}
}

.recent__item {
	margin-bottom: 10px;
}

/*------------------------------------*\
    Work
\*------------------------------------*/

.work-list {
    margin-bottom: 60px;
}

.work-list li {
    margin-bottom: 5px;
}

.work__title {
    font-size: 72px;
}

.work__role {
    color: $gray-bold;
    text-transform: uppercase;
    font-size: 20px;
}

.work__platform {
    color: $gray-bold;
    font-size: 20px;
}

.work__platform--title {
    color: $black;
}

.work__link {
    position: relative;
    padding-left: 26px;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
    
    &:after {
        content: '\f08e';
        font-family: FontAwesome;
        position: absolute;
        top: 6px;
        left: 0;
        font-size: 16px;
    }
}

.work__overview {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.work-image-container {
    margin-bottom: 40px;
}

.tags {
    text-align: center;
}

.tags__title {
    margin-bottom: 18px;
    font-size: 24px;
    //text-align: center;
}

.tags-list {
    display: inline-block;
}

.tags-list__item {
    float: left;
    margin-right: 10px;
    padding: 5px 12px;
    background: $gray;
    font-size: 21px;
    border-radius: 12px;
}



    /**
    ***************************************************************
    * =Footer
    ***************************************************************
    **/

.social__item {
	float: left;
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}
}

.footer-email {
	text-align: right;
}

@media screen and (max-width: 991px) {
    .header {
        margin-bottom: 15px;
    }

    .job-title {
        font-size: 60px;
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 30px;
    }

    .navbar-default {
        .navbar-toggle {
            border: none;
            margin-top: 6px;

            &:--hoverous {
                background: none;

                .icon-bar {
                    background: $black-light;
                }

            }
            .icon-bar {
                width: 30px;
                height: 4px;
                background-color: $black;
                transition: .3s background-color;
            }
        }
    }

    /* Work */
    .work__title {
        font-size: 45px;
    }
}

@media screen and (max-width: 560px) {
    .job-title {
        font-size: 48px;
    }
}

@media screen and (max-width: 470px) {
    .recent__item {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .job-title {
        font-size: 36px;
    }
}


@media screen and (max-width: 350px) {
    .job-title {
        font-size: 33px;
    }
}
