.header {
  padding-top: 30px;
  margin-bottom: 80px;
}

.logo {
    position: relative;
    padding: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 700;
}

.nav>li>a {
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar-right {
    margin-top: 14px;
}

.navbar__item {
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }

  a {
    transition: text-decoration .3s;

    &:hover {
      text-decoration: line-through !important;
    }
  }

}

/**
***************************************************************
* =Main
***************************************************************
**/

.main {
  margin-bottom: 35px;
}

.job-title {
  font-size: 80px;
    margin-top: 0;
  margin-bottom: 95px;

  span {
    display: block;
  }
}

/*------------------------------------*\
    Recent
\*------------------------------------*/

.recent {
  h2 {
    margin-bottom: 25px;
    text-align: center;
  }
}

.recent__item {
  margin-bottom: 10px;

  a {
    display: block;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

/*------------------------------------*\
    Work
\*------------------------------------*/

.work-list {
    margin-bottom: 60px;
}

.work-list li {
    margin-bottom: 5px;
}

.work__title {
    font-size: 72px;
}

.work__role {
    color: $gray-bold;
    text-transform: uppercase;
    font-size: 20px;
}

.work__platform {
    color: $gray-bold;
    font-size: 20px;
}

.work__platform--title {
    color: $black;
}

.work__link {
    position: relative;
    padding-left: 26px;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;

    &:after {
        content: '\f08e';
        font-family: FontAwesome;
        position: absolute;
        top: 6px;
        left: 0;
        font-size: 16px;
    }
}

.overview {
    margin-bottom: 40px;
}

.work__overview {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.work-image-container {
    width: 986px;
    height: 582px;
    margin: 0 auto;
    position: relative;

    .wrapper {
        overflow: hidden;
    }
}

.work-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 980px;
    height: 540px;
    z-index: 0;
    background: url('/public/images/macbook.svg') no-repeat;

    .wrapper {
        width: 701px;
        height: 435px;
        margin: 37px auto 0;
    }
}

.work-tablet {
    position: absolute;
    bottom: 6px;
    right: 33px;
    width: 347px;
    height: 443px;
    z-index: 10;
    background: url('/public/images/ipad.svg') no-repeat;

    .wrapper {
        width: 266px;
        height: 355px;
        overflow: hidden;
        margin: 41px auto 0;
    }
}

.work-phone {
    position: absolute;
    bottom: -8px;
    right: 300px;
    z-index: 20;
    background: url('/public/images/iphone.svg') no-repeat;
    width: 135px;
    height: 275px;

    .wrapper {
        width: 104px;
        height: 187px;
        margin: 43px auto 0;
        overflow: hidden;
    }
}

.hidden-image {
    display: none;
}

.mCSB_scrollTools {
    opacity:1;
}
.mCSB_inside > .mCSB_container {
    margin-right: 15px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 7px;
    background-color: $black !important;
    border-radius: 5px;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    //background-color: $black;

}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: $black;
}

.tags {
    text-align: center;
}

.tags__title {
    margin-bottom: 18px;
    font-size: 24px;
}

.tags-list {
    display: inline-block;
}

.tags-list__item {
    float: left;
    margin-right: 10px;
    padding: 5px 12px;
    background: $gray;
    font-size: 19px;
    border-radius: 12px;
}

    /**
    ***************************************************************
    * =Footer
    ***************************************************************
    **/

.social__item {
  float: left;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-email {
  text-align: right;
}

/**
***************************************************************
* =PAGES
***************************************************************
**/

/* About */
.about {
    p,
    li {
        font-weight: 400;
        font-size: 16px;
        line-height: 38px;
        color: $gray-bold;
    }
}

.about-block {
    margin-bottom: 60px;
}

.about__title {
    font-size: 50px;
    text-transform: none;
    margin-bottom: 20px;
}

.about-list {
    list-style-type: circle;
    padding-left: 19px;
}

/* Contact */
.contact {
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 38px;
        color: $gray-bold;
    }
}

.contact-top {
    margin-bottom: 60px;
}

.error-list,
.contact-success{
    margin-bottom: 20px;
}

.contact-success {
    padding: 13px;
    background: #DFF0D8;
    color: #2b542c;
}

.error-list__item {
    padding: 13px;
    background: #F2DEDE;
    color: #a94442;
    margin-bottom: 10px;
}

.form-control {
    border: 1px solid $gray !important;
    border-radius: 0;

    &:hover,
    &:focus,
    &:active{
        box-shadow: 0 0 8px rgba(0,0,0, .1) !important;
    }
}

.contact-form__label {
    font-size: 15px;
}

.contact-form__submit {
    background: none;

    &:--hoverous {
        background: none;
        color: $black;
        opacity:.8;
    }
}


@media screen and (max-width: 1200px) {
    .work-image-container {
        width: 915px;
        height: 542px;
    }

    .work-display {
        width: 915px;
        height: 484px;
        background-size: 915px 484px;

        .wrapper {
            width: 627px;
            height: 389px;
            margin: 34px auto 0;
        }
    }

    .work-tablet {
        bottom: 25px;
        right: 35px;
        width: 291px;
        height: 376px;
        background-size: 291px 376px;

        .wrapper {
            width: 223px;
            height: 299px;
            overflow: hidden;
            margin: 36px auto 0;
        }
    }

    .work-phone {
        bottom: -8px;
        right: 256px;
        width: 120px;
        height: 247px;
        background-size: 120px 247px;

        .wrapper {
            width: 93px;
            height: 168px;
            margin: 39px auto 0;
        }
    }
}

@media screen and (max-width: 991px) {
    .header {
        margin-bottom: 15px;
    }

    .job-title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    /* Works */
    .work-image-container {
        width: 720px;
        height: 464px;
    }

    .work-display {
        width: 720px;
        height: 440px;
        background-size: 720px 440px;

        .wrapper {
            width: 514px;
            height: 319px;
            margin: 49px auto 0;
        }
    }

    .work-tablet {
        bottom: 15px;
        right: 35px;
        width: 248px;
        height: 318px;
        background-size: 248px 318px;

        .wrapper {
            width: 190px;
            height: 254px;
            overflow: hidden;
            margin: 30px auto 0;
        }
    }

    .work-phone {
        bottom: -15px;
        right: 224px;
        width: 101px;
        height: 220px;
        background-size: 101px 220px;

        .wrapper {
            width: 79px;
            height: 142px;
            margin: 38px auto 0;
        }
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 30px;
    }

    .navbar-default {
        .navbar-toggle {
            border: none;
            margin-top: 6px;

            &:--hoverous {
                background: none;

                .icon-bar {
                    background: $black-light;
                }

            }
            .icon-bar {
                width: 30px;
                height: 4px;
                background-color: $black;
                transition: .3s background-color;
            }
        }
    }

    .navbar__item {
        margin-bottom: 10px;
    }

    /* Work */
    .work__title {
        font-size: 45px;
    }

    .work-image-container {
        width: 441px;
        height: 245px;
    }

    .work-display {
        width: 441px;
        height: 245px;
        background-size: 441px 244px;

        .wrapper {
            width: 315px;
            height: 195px;
            margin: 18px auto 0;
        }
    }

    .work-tablet {
        bottom: -17px;
        right: 7px;
        width: 146px;
        height: 188px;
        background-size: 146px 188px;

        .wrapper {
            width: 112px;
            height: 149px;
            overflow: hidden;
            margin: 18px auto 0;
        }
    }

    .work-phone {
        bottom: -28px;
        right: 126px;
        width: 46px;
        height: 92px;
        background-size: 46px 92px;

        .wrapper {
            width: 35px;
            height: 63px;
            margin: 15px auto 0;
        }
    }

    /* About */
    .about-list {
        padding-left: 0;
    }
}

@media screen and (max-width: 560px) {
    .job-title {
        font-size: 48px;
    }
}

@media screen and (max-width: 480px) {
    /* Work */
    .work-image-container {
        width: 100%;
        height: auto;
    }
    .work-display,
    .work-tablet,
    .work-phone {
        display: none;
    }

    .hidden-image {
        display: block;
    }
}

@media screen and (max-width: 470px) {
    .recent__item {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .job-title {
        font-size: 36px;
    }
}


@media screen and (max-width: 350px) {
    .job-title {
        font-size: 33px;
    }
}
